.container{
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 10vh;
}

.questionContainer{
    margin-left: 24vw;
}

.nextButtonContainer{
    float: right;
}

.previousButtonContainer{
    float: left;
}