*
{
    box-sizing:border-box ;
}
.main-container{
   
    background-color: antiquewhite;
    display: block;
}
.general-row{
    display: flex;
}
.image-container-row
{   width: 30%;
    margin: 2% 5% 2% 2%;
}

.image-container
{   
    width: 100%;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
   
}

.about-container-row 
{  
  margin-top: 2%; 
    
    
}
.about-container-list-item
{   font-size: 2vw;
    overflow-wrap: break-word; 
    margin-bottom:20px;
}
.activeExams-container{

}
.activeExams-container>h1
{
    text-align: center;
    font-size: 4vw;
    border-color: white;
    border-style: solid;
    border-width: 16px;
}
.activeExamsList-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2vw 2vw 2vw 2vw;
    margin-bottom: 15vw;
}
.activeExamsList-container-Item
{   padding: 0px 0px 0px 0px;
    border-style: solid;
    border-radius: 10%;
    border-color:dodgerblue;
     font-size: 3vw;
    word-wrap: break-word;
    width: 20vw;
    height: 20vw;
    margin: 2vw;
    background-color: white;
}
.title
{
    text-align: center;
}
.activeExamsList-container-Item:hover
{
    background-color: gray;
    cursor: pointer;
}